.Footer-top{
    width: 100%;
    /* padding-top: 100px; */
    /* border-top: 1px solid rgb(218, 216, 216); */
}
.footer-main{
    background: var(--primry-clr);
    padding-top: 42px;
    position: relative;
    overflow: hidden;
}
.footer-main .container{
    position: relative;
    z-index: 10;
}
/* .btm-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 2;
    background: var(--secondary-clr);
} */
.btm-layer2{
    position: absolute;
    left: -18%;
    top: -75%;
    height: 178%;
    max-height: 900px;
    width: 61%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 3;
    background: var(--secondary-clr);
}
.btm-layer3{
    position: absolute;
    left: -18%;
    top: -69%;
    height: 172%;
    max-height: 900px;
    width: 59%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 4;
    background: #fcfcfd;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0 ;
    overflow: hidden;
}
/* .btm-layer3::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 83%;
    height: 58%;
    background: url(../../../public/images/bg/web-development.gif);
    background-size: 100%;
    background-repeat: no-repeat;
} */
.btm-layer3 img{
    max-width: 650px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 4;
}
@media (max-width: 768px) {
    .btm-layer3 img{
        max-width: 225px;
    }
    .btm-layer3 {
        position: relative;
        left: unset;
        top: unset;
        height: 187px;
        max-height: 301px;
        width: 219px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    /* .btm-layer3::before{
        right: unset;
        left: 0;
    } */
}
.ft-logo-box{
    width: 100%;
    /* padding: 40px; */
    /* background: var(--primry-clr); */
    /* border-top-left-radius: 50px; */
    /* margin-top: -100px; */
    /* border: 1px solid var(--primry-clr); */
}
@media (max-width: 767px) {
    .ft-logo-box{
        margin-top: 10px;
    }
}
.ft-logo-box p{
    color: #cfcfcf;
}
.ft-logo-box .read-more-btn{
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    width: fit-content;
}
.ft-logo-box .read-more-btn .line{
    width: 5px;
    height: 2px;
    background: white;
    transition: all 350ms ease-in-out;
    margin-left:6px;
    margin-right: -5px;
}
.ft-logo-box .read-more-btn i{
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.ft-logo-box .read-more-btn:hover .line{
    width: 30px;
}
.ft-logo{
    /* max-width: 210px;
    height: auto; */
    margin-bottom: 18px;
    display: block;
    font-size: 28px;
    color: white;
    line-height: 1.1;
    font-weight: 700;
}
.ft-logo img{
    max-height: 100px;
    max-width: 100%;
}
.ft-logo-box .social-icn-common{
    display: flex;
    gap: 25px;
    margin-top: 40px;
}
.ft-logo-box .social-icn-common li a{
    font-size: 21px;
    color: white;
}
.copy-box{
    width: 100%;
    padding: 25px 0;
    /* border-top: 1px solid rgba(236, 234, 234, 0.639); */
    margin-top: 60px;
    background: var(--secondary-clr);
}
.copy-right-text{
    font-size: 14px;
    color: white;
    text-align: center;
}
.copy-right-text a{
    font-weight: 800;
    margin-left: 10px;
    text-decoration: underline;
    transition: all 400ms;
    color: var(--primry-clr);
}
.footer-widget{
    width: 100%;
}
.footer-widget .title-ft{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    width: fit-content;
    margin-bottom: 32px;
}
.footer-widget .title-ft::before{
    content: '';
    position: absolute;
    left: 16px;
    bottom: -4px;
    width: 54%;
    height: 3px;
    background: var(--secondary-clr);
    animation: line-anm-ft 2s linear infinite;
}
@keyframes line-anm-ft {
    0%{width: 54%;}
    25%{width: 40%;}
    50%{width: 44%;}
    75%{width: 64%;}
    100%{width: 54%;}
}
.footer-widget .title-ft::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 8px;
    width: 8px;
    background: var(--secondary-clr);
    border-radius: 50%;
    box-shadow: 8px 0px 1px var(--secondary-clr);
    animation: line-anm-ft-bef 2s linear infinite;
}
@keyframes line-anm-ft-bef {
    0%{background: var(--secondary-clr);}
    25%{background:  white;}
    50%{background: var(--secondary-clr) ; box-shadow: 8px 0px 1px white;}
    75%{background: var(--secondary-clr) ; box-shadow: 8px 0px 1px var(--secondary-clr);}
    100%{background: var(--primry-clr);}
}
.footer-widget .links{
    list-style: none;
}
.footer-widget .links li{
    margin: 5px 0;
}
.footer-widget .links li a{
    font-size: 16px;
    color: white;
    line-height: 1.26;
    font-weight: 600;
    transition: all 350ms ease-out;
}
.footer-widget .links li a:hover{
    color: var(--secondary-clr);
}


.footer-widget .contacts-box:hover .cont-icn{
    background: white;
    color: var(--secondary-clr);
}
.footer-widget .cont-icn{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: white;
    background: var(--secondary-clr) ;
    transition: all 400ms;
    margin-right: 16px;
}
.footer-widget .contacts-box{
    display: flex;
    align-items: center;
}
.footer-widget .contacts-box{
    margin-bottom: 22px;
}
.footer-widget .contacts-box .conta-links{
    max-width: calc(100% - 80px) ;
}
.footer-widget .contacts-box .conta-links .title{
    font-size: 13px;
    color: var(--secondary-clr);
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-widget .contacts-box .conta-links span,
.footer-widget .contacts-box .conta-links a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 1.26;
    display: block;
    transition: all 400ms;
}
.Scroll-top-btn .scroll-to-top{
    position: fixed;
    right: 30px;
    bottom: 60px;
    z-index: 1500;
    width: 50px;
    height: 50px;
    background: var(--primry-clr);
    border-radius: 50%;
    cursor: pointer;
}
.Scroll-top-btn .scroll-to-top svg{
    fill: white;
    height: 16px;
    font-weight: bold;
}
@media (max-width: 767px) {
    
    .css-r9uhzn,
    .css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
        width: 38px !important;
        height: 38px !important;
        left: 0px !important;
        bottom: 8px !important;
    }
    .css-1eet1uy{
        width: 38px !important;
        height: 38px !important;
        left: 8px;
        bottom: 12px;
    }
    .css-i4bv87-MuiSvgIcon-root{
        font-size: 19px !important;
    }
    .css-1ef08qk-MuiSpeedDial-root{
        left: 15px !important;
        bottom: 21px !important;
    }
    .Scroll-top-btn .scroll-to-top {
        right: 22px;
        bottom: 28px;
        width: 40px;
        height: 40px;
    }
}
