.service-card{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 45px;   
    padding-top: 8px;
}
.serv-tag{
    width: fit-content;
    height: fit-content;
    padding: 6px 30px;
    background: linear-gradient(45deg, #025be1 0%, #011e93 100%);
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
.serv-tag .brdr-btm{
    width: 100%;
    height: 52px;
    background: linear-gradient(45deg, #025be1 0%, #011e93 100%);
    clip-path: ellipse(60% 16% at 50% 50%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: -22px;
}
.serv-tag::before{
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid var(--primry-clr);
    border-left: 5px solid transparent;
    border-right: 5px solid var(--primry-clr);
    display: inline-grid;
    position: absolute;
    left: -9px;
    top: 0;
    z-index: 1;
}
.serv-tag::after{
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid var(--primry-clr);
    border-left: 5px solid var(--primry-clr);
    border-right: 5px solid transparent;
    display: inline-grid;
    position: absolute;
    right:-9px;
    top: 0;
    z-index: 1;
}
.service-img{
    width: 100%;
    max-width: 110px;
    height: auto;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--primry-clr);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 21px;
    background: white;
}
.service-img img{
    /* border-top-left-radius: 50px; */
}
.service-card:hover .service-name-box{
    background: black;
}
.service-card:hover .service-content{
    border: 4px solid white;
}
.service-card:hover .service-name{
    color: white;
}
.service-name-box{
    display: block;
    width: 100%;
    padding: 12px;
    transition: all ease 1000ms;
    border-radius: 24px;
    background: white;
}
.service-content{
    min-height: 321px;
    padding: 40px 12px;
    border-radius: 14px;
    border: 4px solid var(--primry-clr);
    text-align: center;
    transition: all ease 1000ms;
}
.service-name-title{
    font-size: 13px;
    color: gray;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.service-name{
    font-size: 23px;
    margin-bottom: 3px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    display: block;
    position: relative;
    transition: all 600ms;
}
.service-content .thm-btn{
    margin-top: 12px;
    padding: 8px 25px;
    font-size: 12px;
    margin-bottom: 26px;
}
.serv-price{
    font-size: 18px;
    color: var(--primry-clr);
    font-weight: 600;
    margin: 8px 0;
    text-align: center;
    transition: all ease 1000ms;
}
.service-card:hover .serv-price{
    color: white;
}
.serv-price span{
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
/* .service-name::before{
    position: absolute;
    content: "";
    top: 10%;
    width: 50px;
    height: 4px;
    left: -65px;
    background-color: var(--primry-clr);
} */