ul, li{
   list-style: none;
}
ul{
   margin: 0;
   padding: 0;
}
.Header {
   width: 100%;
   /* padding: 10px 0px; */
   border-bottom: 1px solid #f2f2f2;
   background: #8a0c0c;
}
.header-topbar-content {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;

}
.mainmenu-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* box-shadow: 4px 4px 2px -1px rgb(215, 214, 214); */
}
.cstm-socials{
   max-width: 240px;
}
.logo-box{
   max-width: 240px;
   width: 100%;
}
.logo-box a{
   width: 100%;
   height: fit-content;
   display: inline-block;
}
.logo-box a img{
   max-width: 100%;
   padding: 8px 0px;
}
.Navbar{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 101;
   background: white;
   box-shadow: 0px 0px 4px rgb(206, 206, 206);
}
.mainmenu-wrapper .thm-btn{
   background: black;
}
.mainmenu-wrapper .thm-btn:hover{
   background: var(--primry-clr);
}
.Mainmenu ul{
   display: flex;
   gap: 55px;
}
.Mainmenu ul li a{
   padding: 24px 0;
   display: inline-block;
   font-size: 15px;
   color: rgb(92, 92, 92);
   font-weight: 600;
   text-decoration: none;
   position: relative;
   text-transform: uppercase;
   transition: all 450ms ease-out;
}
.Mainmenu ul li.active a,
.Mainmenu ul li a:hover{
   color: var(--primry-clr);
}
.Mainmenu ul li i{
   font-size: 15px;
   color: rgb(92, 92, 92);
   font-weight: 600;
   margin-left: 5px;
}
.Mainmenu ul li.hasChild ul li.hasChild,
.Mainmenu ul li.hasChild{
   position: relative;
}
.Mainmenu ul li.hasChild ul li.hasChild{
   display: flex;
   align-items: center;
}
.Mainmenu ul li.hasChild ul li.hasChild i{
   z-index: 4;
   margin-left: -25px;
}
.Mainmenu ul li.hasChild ul li.hasChild ul,
.Mainmenu ul li.hasChild ul{
   position: absolute;
   top: 70px;
   left: 0;
   z-index: 10;
   padding-bottom: 12px;
   min-width: 340px;
   display: inline-block;
   gap: unset;
   background: white;
   box-shadow: 2px 4px 4px rgb(196, 195, 195);
   transition: all 400ms ease-out;
   transform: scaleY(0);
   transform-origin: top;
}
.Mainmenu ul li.hasChild ul li.hasChild ul{
   left: 100%;
   top: 0;
}
/* .Mainmenu ul li.hasChild:hover:not(.Mainmenu ul li.hasChild ul li.hasChild:hover ul), */
.Mainmenu ul li.hasChild ul li.hasChild:hover ul,
.Mainmenu ul li.hasChild:hover ul{
   transform: scaleY(1);
}
.Mainmenu ul li.hasChild ul li.hasChild ul li,
.Mainmenu ul li.hasChild ul li{
   width: 100%;
}
.Mainmenu ul li.hasChild ul li.hasChild ul li a::before,
.Mainmenu ul li.hasChild ul li a::before{
   content: "";
   position: absolute;
   width: auto;
   height: 100%;
   top: 0;
   bottom: 0;
   right: -5px;
   left: -5px;
   background-color: var(--primry-clr);
   -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
   z-index: -1;
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
   -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
   clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
   opacity: 0;
   visibility: hidden;
   transition: all 400ms;
}
.Mainmenu ul li.hasChild ul li.hasChild ul li:hover a::before,
.Mainmenu ul li.hasChild ul li:hover a::before{
    opacity: 1;
    visibility: visible;
    right: -16px;
    left: -16px;
}
.Mainmenu ul li.hasChild ul li.hasChild ul li a,
.Mainmenu ul li.hasChild ul li a{
   padding: 12px 25px;
   z-index: 2;
   width: 100%;
   color: rgb(92, 92, 92);
}
.Mainmenu ul li.hasChild ul li.hasChild ul li a:hover,
.Mainmenu ul li.hasChild ul li.hasChild ul li:hover a,
.Mainmenu ul li.hasChild ul li.hasChild ul li:hover,
.Mainmenu ul li.hasChild ul li:hover a,
.Mainmenu ul li.hasChild ul li a:hover,
.Mainmenu ul li.hasChild ul li:hover{
   color: white;
}
.menuBtn{
   display: none;
   justify-content: center;
   align-items: center;
   width: fit-content;
   height: fit-content;
   padding: 5px;
   font-size: 24px;
   color: gray;
   cursor: pointer;
}
@media (max-width: 1250px) {
   .Mainmenu ul{
      gap: 25px;
   }
   .Mainmenu ul li a{
      font-size: 13px;
   }
   .cstm-socials,
   .logo-box{
      max-width: 180px;
   }
   .mainmenu-wrapper .thm-btn{
      padding: 10px 18px;
      font-size: 13px;
   }
}
@media (max-width: 1008px) {
   .mainmenu-wrapper .thm-btn{
      display: none;
   }
   .Mainmenu ul li a{
      padding: 18px 0;
   }
}
@media (max-width: 780px) {
   .Mainmenu{
      display: none;
   }
   .menuBtn{
      display: flex;
   }
   .header-topbar-content{
      justify-content: center;
   }
   .cstm-contact-infos{
      padding: 11px 22px;
      display: none;
      /* border-top: 1px solid #f2f2f2; */
   }
   .cstm-contact-infos ul{
      justify-content: center;
   }
   .cstm-contact-infos ul li{
      margin-bottom: 8px;
      text-align: center;
   }
   .cstm-socials{
      padding: 8px ;
   }
}
.phone-nav-overlay{
   position: fixed;
   left: 0;
   top: 0;
   z-index: 104;
   background: white;
   width: 0;
   overflow: hidden;
   overflow-y: auto;
   height: 100vh;
   box-shadow: 0px 0px 4px gray;
   transform: translateX(-100vw);
   transition: all 500ms;
   padding-bottom: 150px;
}
.phone-nav-overlay.active{
   width: 86vw;
   transform: translateX(0);
}
.close-nav{
   width: 25px;
   height: 25px;
   text-align: center;
   line-height: 25px;
   font-size: 19px;
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 0;
   background: black;
   color: white;
}
.phone-nav{
   padding: 35px 0px;
   width: 100%;
}
/* phone nav css */
.phone-nav ul li{
   width: 100%;
   border-bottom: 1px solid rgb(237, 236, 236);
}
.phone-nav ul li:last-child{
   border-bottom: none;
}
.phone-nav ul li a{
   padding: 14px 22px;
   display: inline-block;
   font-size: 15px;
   color: rgb(92, 92, 92);
   font-weight: 600;
   text-decoration: none;
   position: relative;
   text-transform: uppercase;
   transition: all 450ms ease-out;
}
.phone-nav ul li.active a,
.phone-nav ul li a:hover{
   color: var(--primry-clr);
}
.phone-nav ul li i{
   font-size: 15px;
   color: rgb(92, 92, 92);
   font-weight: 600;
   margin-left: 5px;
}
.phone-nav ul li.hasChild ul li.hasChild,
.phone-nav ul li.hasChild{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.phone-nav ul li.hasChild i{
   padding: 9px 12px;
   background: #e6e3e3;
   color: black;
}
.phone-nav ul li.hasChild ul li.hasChild ul,
.phone-nav ul li.hasChild ul{
   min-width: 290px;
   width: 100%;
   display: inline-block;
   gap: unset;
   background: white;
   /* box-shadow: 2px 4px 4px rgb(196, 195, 195); */
   transition: all 450ms ease-out;
   transform: scaleY(0);
   transform-origin: top;
   height: 0;
   overflow: hidden;
}
.phone-nav ul li.hasChild ul.active li.hasChild ul.active,
.phone-nav ul li.hasChild ul.active{
   padding-bottom: 18px;
   transform: scaleY(1);
   height: fit-content;
   margin-left: 12px;
}
.phone-nav ul li.hasChild ul li.hasChild ul li,
.phone-nav ul li.hasChild ul li{
   width: 100%;
}
.phone-nav ul li.hasChild ul li.hasChild ul li a,
.phone-nav ul li.hasChild ul li a{
   padding: 12px 25px;
}

/* !END: Header Topbar CSS */